
# Virtual environment
venv/
.venv/

.env

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/

# Jupyter & IPython
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# OS-specific junk
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
.env

data/meeting_video/

# Google API credentials
credentials.json
token.json
.env
